body{background: black;}
.postcard{background: white;
    width: 600px;
    height: 400px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);padding:15px;
}
.postcard {margin:0;}
.left-part{
    float: left;
    background:white;
    width:45%;
}
.right-part{
    float: right;
    width:45%;
    top:30%;
}
.right-part input{display:block;}
img{
    position: absolute;
    width: auto;
    height: 75px;
    top: 0px;
    right: 10px;
    margin-top: 10px;
}
.postcard-body{
    margin: 10px;
    display: inline;
}
input{
   margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    margin: 20px;
    border-bottom: 1px solid;
}
Collapse



